<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.FolderMapper" >

  <!--存储上传文件的信息-->
  <insert id="addFolder" parameterType="po.FolderWithBLOBs">
    INSERT INTO ty_folder(file_name, is_dir, parent_path,comment,create_time,update_time,user_id,size)
        values(#{file_name},#{is_dir},#{parent_path}, #{comment},#{create_time},#{update_time},#{user_id},#{size})
  </insert>

</mapper>