input[type="file"]{position:absolute;opacity:0;top:0;left:0;width:100%;height:100%;cursor:pointer;}
#upload-form{
	margin-bottom: 0;
}
li{
	list-style-type: none;
}
.checkbox-td{
	width: 32px;
}
.table>thead>tr>th{
	border-bottom: 0 solid #ddd;
	border-top: 0 solid #ddd;
}
table>thead{
	font-size: 14px;
}