<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 用户管理的service -->
    <bean id="userService" class="impl.UserServiceImpl"/>

    <!-- 文件管理的service -->
    <bean id="folderService" class="impl.FolderServiceImpl"/>

    <!-- 移动U盘管理的service -->
    <bean id="diskService" class="impl.UDiskImpl"/>

</beans>